body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 2rem;

}
.container {
    margin-top: 50px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
}
#result {
  background-color: grey;
  border-radius: 20px;
  padding: 20px;
  margin: 4px;
 
}
